@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --text-2xs: 0.625rem;

  --font-heading: var(--font-sans);
  --font-sans: "Geist Variable", sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --radius: 0.5rem;

  --background: var(--color-gray-50);
  --foreground: var(--color-gray-950);

  --card: var(--color-white);
  --card-foreground: var(--color-gray-950);

  --popover: var(--color-gray-50);
  --popover-foreground: var(--color-gray-950);

  --primary: var(--color-sky-600);
  --primary-foreground: var(--color-sky-50);

  --secondary: var(--color-sky-100);
  --secondary-foreground: var(--color-sky-800);

  --muted: var(--color-gray-100);
  --muted-foreground: var(--color-gray-500);

  --accent: var(--color-gray-200);
  --accent-foreground: var(--color-gray-950);

  --destructive: var(--color-red-500);
  --destructive-foreground: var(--color-gray-100);

  --border: var(--color-gray-300);
  --input: var(--color-gray-300);
  --ring: var(--color-sky-600);

  --sidebar: var(--color-gray-50);
  --sidebar-foreground: var(--color-gray-950);
  --sidebar-primary: var(--color-sky-600);
  --sidebar-primary-foreground: var(--color-gray-100);
  --sidebar-accent: var(--color-gray-100);
  --sidebar-accent-foreground: var(--color-gray-950);
  --sidebar-border: oklch(0.934 0 89.876);
  --sidebar-ring: var(--color-sky-600);

  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
}

.dark {
  --radius: 0.625rem;

  --background: oklch(0.191 0.004 264.466);
  --foreground: oklch(0.984 0.001 197.139);

  --card: oklch(0.209 0.004 264.477);
  --card-foreground: oklch(0.984 0.001 197.139);

  --popover: oklch(0.209 0.004 264.477);
  --popover-foreground: oklch(0.984 0.001 197.139);

  --primary: oklch(0.619 0.207 259.232);
  --primary-foreground: oklch(0.984 0.001 197.139);

  --secondary: oklch(0.308 0.01 260.712);
  --secondary-foreground: oklch(0.984 0.001 197.139);

  --muted: oklch(0.401 0.013 261.748);
  --muted-foreground: oklch(0.58 0.021 258.369);

  --accent: oklch(0.382 0.068 259.066);
  --accent-foreground: oklch(0.984 0.001 197.139);

  --destructive: oklch(0.637 0.208 25.331);
  --destructive-foreground: oklch(0.985 0 89.876);

  --border: oklch(0.267 0.007 248.094);
  --input: oklch(0.267 0.007 248.094);
  --ring: oklch(0.619 0.207 259.232);

  --sidebar: oklch(0.209 0.004 264.477);
  --sidebar-foreground: oklch(0.984 0.001 197.139);
  --sidebar-primary: oklch(0.619 0.207 259.232);
  --sidebar-primary-foreground: oklch(0.984 0.001 197.139);
  --sidebar-accent: oklch(0.382 0.068 259.066);
  --sidebar-accent-foreground: oklch(0.984 0.001 197.139);
  --sidebar-border: oklch(0.267 0.007 248.094);
  --sidebar-ring: oklch(0.619 0.207 259.232);

  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
