---
import App from "@/app";
import RootLayout from "./_root-layout.astro";

export const prerender = true;
---

<RootLayout>
  <main class="flex h-screen w-screen justify-center py-6">
    <App client:load />
  </main>
</RootLayout>
