---
import RootLayout from "./_root-layout.astro";
import Board from "@/components/board";
import BoardFooter from "@/components/board-footer";
import Options from "@/components/options";
---

<RootLayout>
  <main class="flex h-screen w-screen justify-center p-6">
    <div class="flex flex-col gap-4">
      <h1 class="text-5xl font-extrabold tracking-tight">Sudoku</h1>
      <Board client:load />
      <BoardFooter client:load />
      <Options client:load />
    </div>
  </main>
</RootLayout>
