---
import App from "@/app";
import RootLayout from "./_root-layout.astro";
---

<RootLayout>
  <main class="flex h-screen w-screen justify-center p-6">
    <App client:load />
  </main>
</RootLayout>
