---
import App from "@/app";
import RootLayout from "./_root-layout.astro";
import { initBoard } from "@/lib/init";
import { fillBoard } from "@/lib/helpers";
import { removeNumbers } from "@/lib/helpers";

const cells = initBoard();
fillBoard(cells);
// removeNumbers(cells);
---

<RootLayout>
  <main class="flex h-screen w-screen justify-center p-6">
    <App cells={cells} client:load />
  </main>
</RootLayout>
