---
import RootLayout from "./_root-layout.astro";
import Board from "@/components/board";
---

<RootLayout>
  <main class="flex h-screen w-screen items-center justify-center">
    <Board client:load />
  </main>
</RootLayout>
